.navtab {
  display: flex;
  gap: 2.8rem;
  .nav_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    .nav_text {
      color: var(--color-5100, #8f92a1);
      font-family: SF Pro Display;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 2rem;
    }
    .dot {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
    }
  }
  .nav_item.active {
    .nav_text {
      color: #1e1f20;
    }
    .dot {
      background-color: #1e1f20;
    }
  }
}
