.back_btn {
  width: 10.3rem;
  height: 5.8rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 1.2rem;
  background-color: #f7f7f7;
  margin-bottom: 4rem;
  &_content {
    display: flex;
    align-items: center;
    gap: 1rem;
    &_text {
      font-family: SF Pro Display;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 2rem;
      color: #8f92a1;
    }
  }
}
