@import "../styles/variables";

.home_layout {
  display: flex;
}

.right_sidebar {
  background-color: $primary-color;
  width: 16.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4.2rem;
  padding-bottom: 6rem;
}

.logo {
  width: 4.8rem;
  height: 5.4rem;
  margin-bottom: 9.8rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}

.navigation_logo_wrapper {
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  background-color: #ffffff33;
}

.navigation_logo_wrapper.logout {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.logout_wrapper {
  margin-top: auto;
  margin-bottom: 0;
}

.navigation_logo_wrapper.active {
  background: #fff;
}