.message_layout {
  display: flex;
  width: 100vw;
  .home_right_panel {
    width: 80rem;
    .right_panel {
      width: 78.5rem;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .message_main {
    margin: 0 auto;
    padding: 4rem 6rem 5.6rem 6.5rem;
    .header {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      margin-bottom: 6rem;
      .search_bar {
        width: 28.7rem;
        height: 5.8rem;
        border-radius: 1.2rem;
        background: #fff;
        display: flex;
        padding-left: 2rem;
        // justify-content: center;
        align-items: center;
        .search_logo {
          margin-right: 1.5rem;
        }
        &_input {
          font-family: SF Pro Display;
          font-size: 1.4rem;
          line-height: 2rem;
          border: none;
          outline: none;
        }
      }
      .message_icon {
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #53d769;
        border-radius: 1.2rem;
      }
    }
    .message_title_box {
      margin-bottom: 4rem;
      .inbox_title {
        color: #1e1f20;
        font-family: SF Pro Display;
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.6rem;
        margin-bottom: 4rem;
      }
      .navtab {
        display: flex;
        gap: 2.8rem;
        .nav_item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: 3rem;
          .nav_text {
            color: var(--color-5100, #8f92a1);
            font-family: SF Pro Display;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 2rem;
          }
          .dot {
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
          }
        }
        .nav_item.active {
          .nav_text {
            color: #1e1f20;
          }
          .dot {
            background-color: #1e1f20;
          }
        }
      }
    }
    .messages_container {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      overflow: auto;
      height: 58rem;
      .message_container {
        width: 35rem;
        height: 4.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
          display: flex;
          gap: 1.5rem;
          align-items: center;
          .profile {
            height: 4.8rem;
            width: 4.8rem;
            position: relative;
            img {
              width: inherit;
              height: inherit;
              border-radius: 1.2rem;
            }
            .dot {
              border: 3px solid #fff;
              position: absolute;
              height: 1.5rem;
              width: 1.5rem;
              border-radius: 50%;
              top: -0.25rem;
              right: -0.25rem;
              background-color: #53d769;
            }
          }
          .name_message {
            .name {
              color: #1e1f20;
              font-family: SF Pro Display;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 2rem;
            }
            .message {
              color: #8f92a1;
              font-family: SF Pro Display;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 2.2rem;
            }
          }
        }
        .right {
          .time {
            color: #8f92a1;
            text-align: right;
            font-family: SF Pro Display;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2rem;
          }
          .pending_messages {
            margin-right: 0;
            margin-left: auto;
            width: 1.8rem;
            height: 1.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.6rem;
            background: #ff4e4e;
            color: #fff;
            text-align: center;
            font-family: SF Pro Display;
            font-size: 1rem;
            font-weight: 700;
            line-height: 2rem;
            letter-spacing: 0.1rem;
          }
        }
      }
    }
    .messages_container::-webkit-scrollbar {
      display: none;
    }
  }
  @media screen and (min-width: 1801px) {
    .home_right_panel {
      width: 100rem;
      .right_panel {
        width: inherit;
      }
    }
  }
}
