.home_right_panel {
  padding-left: 0.5rem;
  display: flex;
  gap: 1rem;
  width: 42rem;
  height: 100vh;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
  .right_panel {
    width: 40rem;
    height: 100vh;
    padding: 4.5rem 4rem 4rem 4.5rem;
    border-radius: 3.2rem 0rem 0rem 3.2rem;
    background: #1e1f20;
    color: #fff;
    overflow: hidden;
  }
}
